/* You can add global styles to this file, and also import other style files */
app-carousel {
    overflow: hidden;
    display: block;
}
.carousel {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    display: flex;

    &__inner {
        display: flex;
    }
    &__item {
        width: 250px;
        border: 1px solid black;
    }


}